{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./src",
          "expose": "@boa"
        },
        {
          "src": "./src/base",
          "expose": "@boa/base"
        },
        {
          "src": "./src/components",
          "expose": "@boa/components"
        },
        {
          "src": "./src/utils",
          "expose": "@boa/utils"
        }
      ]
    ],
    "transform-decorators-legacy"
  ]
}
