**/node_modules/**
**/*.json
**/*.md
**/package/**
**/*.svg
compiled
**/*.log
**/*.d.ts
assets/**
generator/**
loaders/**
typings/**
app/**
build/**
dist/**
.vs/**
framework/**
components/test-viewers/**