<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BOA Side Bar Experimental</title>
    <meta name="theme-color" content="#03A9F4">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }

      .custom-sidebar-class {
          background-color: #FFF;
      }

      input::-ms-clear {
        display: none;
      }
    </style>
</head>
<body>
    <div id="example"></div>
    <script src="compiled/responsive_example.js"></script>
</body>
</html>
